body {
  background-image: url(kpoplightsticks.jpg);
  text-align: center;
}
h1 {
  background: rgb(196, 148, 231);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 75px;
  margin: 0px;
  padding: 40px;
  text-align: center;
  font-weight: bolder;
}
h2 {
  font-size: 40px;
  padding: 5px;
  margin: 0px;
}
h3 {
  font-size: 25px;
  margin: 0px;
}
h4 {
  font-size: 15px;
  margin: 15px;
}
table {
  display: inline-block;
  background: white;
  border-collapse: inherit;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
}
